*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
	--ion-color-mycolor: #f8fcfb;
	--ion-color-mycolor-rgb: 248,252,251;
	--ion-color-mycolor-contrast: #000000;
	--ion-color-mycolor-contrast-rgb: 0,0,0;
	--ion-color-mycolor-shade: #dadedd;
	--ion-color-mycolor-tint: #f9fcfb;
}

.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}